* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222222;
    font-family: Arial, sans-serif;
    width: 100vw;
}

wrapper {
    width: 50vw;
}